<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ganzib.dao.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.ganzib.entity.SysRolePermission">
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <insert id="insert" parameterType="com.ganzib.entity.SysRolePermission">
    insert into sys_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select rid, pid
    from sys_role_permission
  </select>
  <resultMap id="BaseResultMap" type="com.ganzib.entity.SysRolePermission">
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <insert id="insert" parameterType="com.ganzib.entity.SysRolePermission">
    insert into sys_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select rid, pid
    from sys_role_permission
  </select>
  <resultMap id="BaseResultMap" type="com.example.demo.entity.SysRolePermission">
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.entity.SysRolePermission">
    insert into sys_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select rid, pid
    from sys_role_permission
  </select>
</mapper>